<div class="mdl-grid">
{{#mdl-card title='Macro\'s Caloric Content' class=" text-white"}}
  <div class="mdl-card__supporting-text">Each macronutrient has a ballpart calorie count.</div>
  {{#mdl-table-object class='full-width' content=macros as |macro|}}
    {{#mdl-table-col label='Macro'}}
      {{macro.name}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='calories'}}
      {{macro.calories}}
    {{/mdl-table-col}}
  {{/mdl-table-object}}
{{/mdl-card}}

{{#mdl-card title='Stats' class='repulator-card' }}
  <div class="mdl-card__supporting-text">
    {{mdl-textfield label='Weight' value=human.weight}}
    {{mdl-textfield label='Height' value=human.height}}
    {{mdl-textfield label='Age' value=human.age}}
    <div>
      {{mdl-radio value='male' text='Male' name='sex'}}
      {{mdl-radio text='Female' name='sex' value='female'}}
    </div>
  </div>
{{/mdl-card}}

{{#mdl-card title='Daily Caloric Needs' class='repulator-card' }}
  <div class="mdl-card__supporting-text">
    BMR: {{human.bmr}}<br>
    http://www.bmi-calculator.net/bmr-calculator/bmr-formula.php
    <br>
    Daily Caloric Needs<br>

  </div>

  {{#mdl-table-object class='full-width' content=days as |condition label|}}
    {{#mdl-table-col label='Activity Level'}}
      {{condition.title}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='Multiplier'}}
      {{condition.hbeMultiplier}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='total'}}
      {{!multiplier bmr condition.multiplier}}
      {{condition.calories}}
    {{/mdl-table-col}}
  {{/mdl-table-object}}
{{/mdl-card}}


{{#mdl-card title='Maintaincene' class='repulator-card' }}
  {{#mdl-table-object class='full-width' content=days as |day|}}
    {{#mdl-table-col label='Calories'}}
      {{day.calories}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='Protein'}}
      {{day.protein}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='Carbs'}}
      {{day.carbs}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='Fats'}}
      {{day.fats}}
    {{/mdl-table-col}}
  {{/mdl-table-object}}
{{/mdl-card}}
{{outlet}}
</div>