<h1>Stats &amp; Basic Diet</h1>
<div class="mdl-grid">
{{#mdl-card title='Macro\'s Caloric Content' class=" text-white mdl-cell mdl-cell--2-col"}}
  <div class="mdl-card__supporting-text">Each macronutrient has a ballpart calorie count.</div>
  {{#mdl-table-object class='full-width' content=macros as |macro|}}
    {{#mdl-table-col label='Macro'}}
      {{macro.name}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='calories'}}
      {{macro.calories}}
    {{/mdl-table-col}}
  {{/mdl-table-object}}
{{/mdl-card}}

{{#mdl-card title='Stats' class='repulator-card mdl-cell mdl-cell--3-col' }}
  <div class="mdl-card__supporting-text">
    <p>
      {{mdl-textfield label='Weight' value=human.weight}}
      {{paper-slider flex=true min='90' max='320' value=human.weight class='md-primary'}}
    </p>
    <p>
      {{mdl-textfield label='Height' value=human.height}}
      {{paper-slider flex=true min='48' max='84' value=human.height class='md-primary'}}
      {{human.heightInFt}}
    </p>
    <p>
      {{mdl-textfield label='Age' value=human.age}}
      {{paper-slider flex=true min='1' max='100' value=human.age class='md-primary'}}
    </p>
    <div>
      {{#paper-radio value="male" selected=human.sex}}
        Male
      {{/paper-radio}}
      {{#paper-radio value="female" selected=human.sex}}
        Female
      {{/paper-radio}}
    </div>
  </div>
{{/mdl-card}}

{{#mdl-card title='Daily Caloric Needs' class='repulator-card mdl-cell mdl-cell--3-col' }}
  <div class="mdl-card__supporting-text">
    BMR: {{human.bmr}}<br>
    http://www.bmi-calculator.net/bmr-calculator/bmr-formula.php
    <br>
    Daily Caloric Needs<br>

  </div>

  {{#mdl-table-object class='full-width' content=days as |condition label|}}
    {{#mdl-table-col label='Activity Level'}}
      {{condition.title}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='Multiplier'}}
      {{condition.hbeMultiplier}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='total'}}
      {{ceil condition.calories}}
    {{/mdl-table-col}}
  {{/mdl-table-object}}
{{/mdl-card}}


{{#mdl-card title='Maintenance' class='repulator-card mdl-cell mdl-cell--4-col' }}
  {{#mdl-table-object class='full-width' content=days as |day|}}
    {{#mdl-table-col label='Activity Level'}}
      {{day.title}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='Calories'}}
      {{ceil day.calories}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='Protein'}}
      {{ceil day.protein}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='Carbs'}}
      {{ceil day.carbs}}
    {{/mdl-table-col}}

    {{#mdl-table-col label='Fats'}}
      {{ceil day.fats}}
    {{/mdl-table-col}}
  {{/mdl-table-object}}
{{/mdl-card}}
{{outlet}}
</div>


<h2>Nutrient Timing</h2>
<div class="mdl-grid">
  {{food-day-plan human=human foodPlan=noActivity}}
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>